<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ma page d'acceuil{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% include ':default:import_css.html.twig'%}

</head>
<body>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include ':default:head.html.twig'%}
        {% include ':default:aside.html.twig'%}
        {% include ':default:contentwrap.html.twig'%}


    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
